opencv_python==4.0.1.24
pygame==1.9.5
torchvision==0.2.2
easydict==1.9
tqdm==4.31.1
gym==0.10.11
numpy==1.16.2
pybullet==2.4.8
scipy==1.2.1
matplotlib==3.0.3
pymunk==5.4.2
tensorflow==1.13.1
baselines.egg==info
Pillow==6.0.0
baselines==0.1.5
imageio==2.5.0
